
body{
    background:linear-gradient(90deg, rgba(63, 94, 251, 1)0%, rgba(252,70,107,1) 100%);
    align-items: center;
    align-self: center;
    align-content:center;
    
}

h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    gap: 10px;
    border: outset 10px  #333;
    max-width: 50%;
    text-align: center;  
    color: aliceblue;
    background-color: #333;
    margin-left: 25%;
    box-shadow: 5px 5px 15px #333 ;
   
}

h2{
      text-shadow: 2px 2px 3px #333;
}

.box-1{
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 50%;
    max-height: 50%;
    height: 25%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    margin:20px auto;
    border: 7px #b3b3b3 outset ; 
    box-shadow: 5px 5px 15px #333 ;
   
}

div{
    gap: 10px;
}   

p{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-variant:initial;
    color: rgb(195, 0, 255);
     text-shadow: 2px 2px 3px #333;
}

