:root {
    --text-color: #302563;
    --link-color: #463b85;
    --background-color: #003cff63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}
nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px; 
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}
nav .right a span {
    margin-left: 5px;
}
/* SECTION 1: Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 25px;
}

.hero-section .text .links {
    margin-top: 20px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.5s;

}

.hero-section .text .links a:hover {
    color: #00f7ff;
    border: 2px solid #00f7ff;
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img {
    width: 100px;
    border-radius: 50%;
}

/* SECTION 2: SKILLS */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2 {
    text-align: center;
    font-size: 30px;
}

.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
}
.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    padding: 10px 20px;
    border: 1.5px solid #0000aa ;
    border-radius: 15px;
    margin-top: 5px;
}
.skills-section .cells .cell i {
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.skills-section .cells .cell span {
    font-size: 18px;
    color: var(--text-color);
}

/* SECTION 3: MYSELF */
.myself-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.myself-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.myself-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.myself-section .person-details {
    text-align: center;
    flex: 2;
}


.myself-section .group .text {
    flex: 8;
    line-height: 1.6;
    color: var(--text-color);
}

.myself-section .person-details img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
    aspect-ratio: 1/1;
    
}

.myself-section .person-details p {
    font-weight: 600;
}

/*SECTION 4: COntact*/
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 30px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
}
.contact-section .group form input,
 .contact-section .group form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(58, 74, 219);
    border-radius: 10px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #a6cef3;
    resize: none;
}

.contact-section .group form button {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    color: rgb(17, 0, 255);
    background-color: #4e3de0;
    border: none;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    transition: .5;
}

.contact-section .group form button:hover {
    background-color: #1b11a5;
}

.contact-section .group form {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 850px) {
/*SECTION 1: Hero*/
.hero-section .text h2 {
    font-size: 35px;
}
}

@media (max-width: 740px) {
/*SECTION 1: Hero*/
.hero-section  {
  flex-direction: column-reverse;
}
.hero-section  .headshot img {
  width: 80px;
}
}

    @media (max-width: 600px) {
    /*NAVBAR*/
    nav {
     padding: 0 10px;
    }

    nav .right a {
        font-size: 20px;
    }

     nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }
    /* SECTION 1: Hero */
    .hero-section {
        padding: 0 20px;   
    }

    .hero-section .text h2 {
        font-size: 30px;
    }
    /* SECTION 2: SKILLS */
    .skills-section {
        padding: 0 20px;
    }
    
    .skills-section .cells .cell span {
        font-size: 16px;
    }
    /*SECTION 4: COntact*/
    .contact-section .group{
        flex-direction: column;
    }
}
